@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

body {
    background: grey;
    margin: 0;
    padding: 0;
}
.utctime {
    float: right;
    .nav-item {
        list-style-type: none;
        a.time {
            display: inline-block;
            float: left;
            font-weight: 400;
            text-decoration: none;
            color: #333;
            padding: 0;
        }
    }
}
